In [1]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')
import numbers

In [2]:
times = pd.read_csv(r"C:\Users\Gio\OneDrive\Desktop\Bicocca\FoCS\datsets\timesData.csv")

In [3]:
times['num_students'] = times['num_students'].str.split(",")
times['num_students'] = times['num_students'].str.join("")

In [4]:
times['income'] = times['income'].replace('-', np.nan)

1) For each university, extract from the times dataset the most recent and the least recent data, obtaining two separate dataframes

In [5]:
timesmin = times.loc[times.groupby('university_name', as_index=False)['year'].idxmin()]
timesmin.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
2405,601-800,AGH University of Science and Technology,Poland,14.2,17.9,3.7,35.7,NaN,-,35569,17.0,1%,-,2016
501,301-350,Aalborg University,Denmark,19.0,75.3,20.0,27.1,36.4,-,17422,15.9,15%,48 : 52,2012
502,301-350,Aalto University,Finland,26.2,49.0,22.2,37.5,61.9,-,16099,24.2,17%,32 : 68,2012
166,167,Aarhus University,Denmark,38.1,33.4,55.6,57.3,61.5,49.9,23895,13.6,14%,54 : 46,2011
476,276-300,Aberystwyth University,United Kingdom,19.8,63.8,15.5,56.6,35.5,-,9252,19.2,18%,48 : 52,2012

In [6]:
timesmax = times.loc[times.groupby('university_name', as_index=False)['year'].idxmax()]
timesmax.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
2405,601-800,AGH University of Science and Technology,Poland,14.2,17.9,3.7,35.7,NaN,-,35569,17.0,1%,-,2016
2003,201-250,Aalborg University,Denmark,25.1,71.0,28.4,73.8,43.7,-,17422,15.9,15%,48 : 52,2016
2056,251-300,Aalto University,Finland,31.1,65.4,32.8,62.1,61.6,-,16099,24.2,17%,32 : 68,2016
1908,=106,Aarhus University,Denmark,36.9,76.8,50.7,79.8,68.3,57.7,23895,13.6,14%,54 : 46,2016
2105,301-350,Aberystwyth University,United Kingdom,21.6,72.2,18.9,67.2,31.3,-,9252,19.2,18%,48 : 52,2016

2) For each university, compute the improvement in income between the least recent and the most recent data points

In [7]:
times_delta = pd.merge(timesmax, timesmin, on = 'university_name')

In [8]:
times_delta.dropna(subset=['income_x','income_y'], inplace = True)

In [9]:
times_delta['incomemax'] = pd.to_numeric(times_delta['income_x'])
times_delta['incomemin'] = pd.to_numeric(times_delta['income_y'])
times_delta['differenza'] = times_delta['incomemax'] - times_delta['incomemin']
risultato_2 = times_delta[['university_name','incomemax','incomemin','differenza']]
risultato_2.head()

              university_name  incomemax  incomemin  differenza
1          Aalborg University       43.7       36.4         7.3
2            Aalto University       61.6       61.9        -0.3
3           Aarhus University       68.3       61.5         6.8
4      Aberystwyth University       31.3       35.5        -4.2
5  Adam Mickiewicz University       28.7       28.7         0.0

3) Find the university with the largest increase computed in the previous point

In [10]:
risultato_2.loc[risultato_2['differenza'].idxmax()]

university_name    TU Dresden
incomemax                99.7
incomemin                31.9
differenza               67.8
Name: 428, dtype: object

4) For each ranking, consider only the most recent data point. For each university, compute the maximum difference between the rankings (e.g. for Aarhus University the value is 122-73=49). Notice that some rankings are expressed as a range)

In [11]:
cwur = pd.read_csv(r"C:\Users\Gio\OneDrive\Desktop\Bicocca\FoCS\datsets\cwurData.csv")

In [12]:
shg = pd.read_csv(r"C:\Users\Gio\OneDrive\Desktop\Bicocca\FoCS\datsets\shanghaiData.csv")

In [13]:
cwur.rename(columns={'institution':'university_name'},inplace = True)

In [14]:
shgmax = shg.iloc[shg.groupby('university_name')['year'].idxmax()]
cwurmax = cwur.iloc[cwur.groupby('university_name')['year'].idxmax()]

In [15]:
unimerge = shgmax.merge(timesmax.merge(cwurmax, on = 'university_name'), on = 'university_name')
wranks = unimerge[['university_name','world_rank','world_rank_x','world_rank_y']]

In [16]:
splitted_1 = wranks["world_rank"].str.split(r"-|=", expand=True)              # Pulizia dei caratteri = e - per la colonna world_rank ovvero colonna relativa a times
splitted_1[1].fillna(splitted_1[0],inplace= True)
splitted_1[2] = pd.to_numeric(splitted_1[0])
splitted_1[3] = pd.to_numeric(splitted_1[1])
splitted_1[4] = (splitted_1[2] + splitted_1[3])/2
wranks['avg wr'] = splitted_1[4].astype('float32')

In [17]:
splitted_2 = wranks["world_rank_x"].str.split(r"-|=", expand=True)        # Pulizia dei caratteri = e - per la colonna world_rank_x ovvero colonna relativa a shanghai
splitted_2[0].replace("",splitted_2[1], inplace = True)
splitted_2[1].fillna(splitted_2[0],inplace= True)
splitted_2[2] = pd.to_numeric(splitted_2[0])
splitted_2[3] = pd.to_numeric(splitted_2[1])
splitted_2[4] = (splitted_2[2] + splitted_2[3])/2
wranks['avg wr_x'] = splitted_2[4].astype('float32')

In [18]:
wranks.rename(columns={'world_rank_y': 'wr_cwur', 'avg wr': 'wr_times','avg wr_x':'wr_shg'}, inplace=True)

In [19]:
wranks['diff_c-t'] = np.absolute(wranks['wr_cwur'] - wranks['wr_times'])     # differenze, in valore assoluto, tra i diversi rankings 
wranks['diff_c-s'] = np.absolute(wranks['wr_cwur'] - wranks['wr_shg'])
wranks['diff_t-s'] = np.absolute(wranks['wr_times'] - wranks['wr_shg'])
wranks = wranks[['university_name','diff_c-t','diff_c-s','diff_t-s']]
wranks['HighScore'] = wranks[['diff_c-t','diff_c-s','diff_t-s']].max(axis=1) # aggiunta della colona con i valori massimi della differenza
wranks.head()

,university_name,diff_c-t,diff_c-s,diff_t-s,HighScore
0,Aalborg University,214.5,339.5,125.0,339.5
1,Aalto University,29.5,145.5,175.0,175.0
2,Aarhus University,49.0,16.0,33.0,49.0
3,Aix-Marseille University,80.0,69.5,149.5,149.5
4,Aristotle University of Thessaloniki,8.5,241.5,250.0,250.0

5) Consider only the most recent data point of the times dataset. Compute the number of male and female students for each country.

In [20]:
times[['female_male_ratio','num_students']] = times[['female_male_ratio','num_students']].replace('-', np.nan)

In [21]:
times_ratio = times.dropna(subset=['female_male_ratio','num_students'])

In [22]:
tr_max = times_ratio.loc[times_ratio.groupby('university_name')['year'].idxmax()]
tr_max = tr_max[['university_name','country','num_students','female_male_ratio']]

In [23]:
split = tr_max["female_male_ratio"].str.split(r":", expand=True)  # eliminazione carattere :
split[2] = pd.to_numeric(split[0])
split[3] = pd.to_numeric(split[1])
tr_max['f_ratio'] = split[2].astype('int32')
tr_max['m_ratio'] = split[3].astype('int32')
tr_max['num_students'] = tr_max['num_students'].astype('int64')

In [24]:
tr_max['num_f'] = tr_max['num_students']*tr_max['f_ratio']/100
tr_max['num_m'] = tr_max['num_students']*tr_max['m_ratio']/100
tr_max[["num_f", "num_m"]] = np.round(tr_max[["num_f", "num_m"]], 0)
tr_max.head()

,university_name,country,num_students,female_male_ratio,f_ratio,m_ratio,num_f,num_m
2003,Aalborg University,Denmark,17422,48 : 52,48,52,8363.0,9059.0
2056,Aalto University,Finland,16099,32 : 68,32,68,5152.0,10947.0
1908,Aarhus University,Denmark,23895,54 : 46,54,46,12903.0,10992.0
2105,Aberystwyth University,United Kingdom,9252,48 : 52,48,52,4441.0,4811.0
2404,Adam Mickiewicz University,Poland,40633,71 : 29,71,29,28849.0,11784.0

6) Find the universities where the ratio between female and male is below the average ratio (computed over all universities)

In [25]:
tr_max['f/m_ratio'] = (tr_max['f_ratio']/tr_max['m_ratio'])

In [26]:
tr_max[tr_max['f/m_ratio'].astype(str).str.contains('inf')] #pulizia del valore inf

,university_name,country,num_students,female_male_ratio,f_ratio,m_ratio,num_f,num_m,f/m_ratio
2227,Ewha Womans University,South Korea,17625,100 : 0,100,0,17625.0,0.0,inf

In [27]:
tr_max_6 = tr_max.drop([2227])

In [28]:
media = tr_max_6[['f/m_ratio']].mean()
media

f/m_ratio    1.081102
dtype: float64

In [29]:
below_avg = tr_max_6[tr_max_6['f/m_ratio'] < 1.081102]
below_avg

,university_name,country,num_students,female_male_ratio,f_ratio,m_ratio,num_f,num_m,f/m_ratio
2003,Aalborg University,Denmark,17422,48 : 52,48,52,8363.0,9059.0,0.923077
2056,Aalto University,Finland,16099,32 : 68,32,68,5152.0,10947.0,0.470588
2105,Aberystwyth University,United Kingdom,9252,48 : 52,48,52,4441.0,4811.0,0.923077
2406,Ajou University,South Korea,12706,33 : 67,33,67,4193.0,8513.0,0.492537
2408,Alexandria University,Egypt,127431,46 : 54,46,54,58618.0,68813.0,0.851852
...,...,...,...,...,...,...,...,...,...
2104,Zhejiang University,China,47508,41 : 59,41,59,19478.0,28030.0,0.694915
1856,École Normale Supérieure,France,2400,46 : 54,46,54,1104.0,1296.0,0.851852
2013,École Normale Supérieure de Lyon,France,2218,49 : 51,49,51,1087.0,1131.0,0.960784
1904,École Polytechnique,France,2429,18 : 82,18,82,437.0,1992.0,0.219512
1833,École Polytechnique Fédérale de Lausanne,Switzerland,9666,27 : 73,27,73,2610.0,7056.0,0.369863

7) For each country, compute the fraction of the students in the country that are in one of the universities computed in the previous point (that is, the denominator of the ratio is the total number of students over all universities in the country).

In [30]:
num = below_avg.groupby('country').sum()[['num_students']]
num

                          num_students
country
Australia                       146235
Austria                          61033
Bangladesh                       62716
Brazil                          278774
Canada                           86779
Chile                            90951
China                           885293
Colombia                         54645
Czech Republic                   38685
Denmark                          45705
Egypt                           359372
Estonia                          14061
Finland                          39788
France                          156153
Germany                         435244
Ghana                            37274
Greece                           57198
Hong Kong                        32079
Hungary                          22447
India                           155370
Indonesia                        43565
Iran                            107280
Israel                           30550
Italy                           106471
Japan                           447415
Kenya                            72676
Lebanon                           7695
Luxembourg                        5144
Malaysia                         16270
Mexico                          151731
Morocco                          56060
Netherlands                      58883
New Zealand                      12187
Nigeria                          26247
Norway                           17381
Oman                              7089
Pakistan                          9808
Poland                           59789
Portugal                         89285
Republic of Ireland              34597
Russian Federation              119356
Singapore                        56620
Slovakia                         16400
South Korea                     276058
Spain                           136088
Sweden                           20667
Switzerland                      34692
Taiwan                          209949
Thailand                         66058
Turkey                          216017
Uganda                           37340
Ukraine                          22686
United Arab Emirates              5226
United Kingdom                  259977
United States of America       1726340

In [31]:
timesmax['n_stud'] = pd.to_numeric(timesmax['num_students'])

In [32]:
den = timesmax.groupby('country').sum()[['n_stud']]
den

                              n_stud
country
Argentina                   108373.0
Australia                   743627.0
Austria                     134477.0
Bangladesh                   62716.0
Belarus                      29303.0
...                              ...
Unisted States of America        0.0
United Arab Emirates         14447.0
United Kingdom             1324842.0
United States of America   3280303.0
Unted Kingdom                    0.0

[72 rows x 1 columns]

In [33]:
risultato_7 = pd.merge(num,den,on='country')

In [34]:
risultato_7['totale_stud'] = risultato_7['n_stud'].astype('int64')
ris_7 = risultato_7.drop(risultato_7[['n_stud']], axis=1)

In [35]:
ris_7['ratio'] = (ris_7['num_students']/ris_7['totale_stud'])
ris_7

                          num_students  totale_stud     ratio
country
Australia                       146235       743627  0.196651
Austria                          61033       134477  0.453855
Bangladesh                       62716        62716  1.000000
Brazil                          278774       534688  0.521377
Canada                           86779       717054  0.121022
Chile                            90951       116026  0.783885
China                           885293      1285619  0.688612
Colombia                         54645        54645  1.000000
Czech Republic                   38685       203321  0.190266
Denmark                          45705       119355  0.382933
Egypt                           359372       376189  0.955296
Estonia                          14061        24330  0.577928
Finland                          39788       106165  0.374775
France                          156153       694221  0.224933
Germany                         435244       948489  0.458881
Ghana                            37274        37274  1.000000
Greece                           57198       202013  0.283140
Hong Kong                        32079        91656  0.349993
Hungary                          22447       138282  0.162328
India                           155370       191154  0.812800
Indonesia                        43565        43565  1.000000
Iran                            107280       138992  0.771843
Israel                           30550       107400  0.284451
Italy                           106471      1243124  0.085648
Japan                           447415       563422  0.794103
Kenya                            72676        72676  1.000000
Lebanon                           7695         7695  1.000000
Luxembourg                        5144         5144  1.000000
Malaysia                         16270       161827  0.100539
Mexico                          151731       151731  1.000000
Morocco                          56060        56060  1.000000
Netherlands                      58883       225877  0.260686
New Zealand                      12187       125957  0.096755
Nigeria                          26247        26247  1.000000
Norway                           17381        66541  0.261207
Oman                              7089         7089  1.000000
Pakistan                          9808        22496  0.435989
Poland                           59789       260882  0.229180
Portugal                         89285       163890  0.544786
Republic of Ireland              34597       112309  0.308052
Russian Federation              119356       214008  0.557717
Singapore                        56620        56620  1.000000
Slovakia                         16400        37279  0.439926
South Korea                     276058       442372  0.624040
Spain                           136088       830331  0.163896
Sweden                           20667       187293  0.110346
Switzerland                      34692       130940  0.264946
Taiwan                          209949       308940  0.679579
Thailand                         66058       210122  0.314379
Turkey                          216017       639342  0.337874
Uganda                           37340        37340  1.000000
Ukraine                          22686        37096  0.611548
United Arab Emirates              5226        14447  0.361736
United Kingdom                  259977      1324842  0.196232
United States of America       1726340      3280303  0.526275

8) Read the file educational_attainment_supplementary_data.csv, discarding any row with missing country_name or series_name

In [36]:
edu = pd.read_csv(r"C:\Users\Gio\OneDrive\Desktop\Bicocca\FoCS\datsets\educational_attainment_supplementary_data.csv")
edu.tail()

,country_name,series_name,1985,1986,1987,1990,1991,1992,1993,1995,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2015
79050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79053,Data from database: Education Statistics: Educ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79054,Last Updated: 10/20/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
edu[['country_name','series_name', '1985', '1986', '1987', '1990', '1991',
       '1992', '1993', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2015']] = edu[['country_name','series_name', '1985', '1986', '1987', '1990', '1991',
       '1992', '1993', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2015']].replace('NaN', np.nan)
edu.dropna(subset=['country_name','series_name'], inplace=True)
edu.tail()

,country_name,series_name,1985,1986,1987,1990,1991,1992,1993,1995,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2015
79045,Zimbabwe,UIS: Percentage of population age 25+ with som...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.84323,NaN,NaN
79046,Zimbabwe,UIS: Percentage of population age 25+ with som...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.68491,NaN,NaN
79047,Zimbabwe,UIS: Percentage of population age 25+ with unk...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99412,NaN,NaN
79048,Zimbabwe,UIS: Percentage of population age 25+ with unk...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.77150,NaN,NaN
79049,Zimbabwe,UIS: Percentage of population age 25+ with unk...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.14588,NaN,NaN

9) From attainment build a dataframe with the same data, but with 4 columns: country_name, series_name, year, value

In [38]:
edu_9 = pd.melt(edu, id_vars = ['country_name','series_name'], value_vars = ['1985', '1986', '1987', '1990', '1991',
       '1992', '1993', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2015'])
edu_9.head()

,country_name,series_name,variable,value
0,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1985,0.33
1,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1985,1.03
2,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1985,0.83
3,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1985,2.34
4,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1985,0.54

10) For each university, find the number of rankings in which they appear (it suffices to appear in one year for each ranking).

In [39]:
T = list (timesmax['university_name'])
for elem in list (timesmax['university_name']):
    print (elem)

AGH University of Science and Technology
Aalborg University
Aalto University
Aarhus University
Aberystwyth University
Adam Mickiewicz University
Aix-Marseille University
Ajou University
Alexandria University
Alexandru Ioan Cuza University
Aligarh Muslim University
American University
American University of Beirut
American University of Sharjah
Amirkabir University of Technology
Amrita University
Anadolu University
Andhra University
Aristotle University of Thessaloniki
Arizona State University
Asia University, Taiwan
Aston University
Athens University of Economics and Business
Auburn University
Auckland University of Technology
Austral University of Chile
Australian National University
Autonomous University of Barcelona
Autonomous University of Madrid
Babeş-Bolyai University
Bangor University
Bar-Ilan University
Bauman Moscow State Technical University
Bayreuth University
Beijing Institute of Technology
Belarusian State University
Ben-Gurion University of the Negev
Bielefeld University
Bilkent University
Binghamton University, State University of New York
Birkbeck, University of London
Birla Institute of Technology and Science, Pilani
Blaise Pascal University
Boston College
Boston University
Bournemouth University
Boğaziçi University
Brandeis University
Brno University of Technology
Brown University
Brunel University London
Budapest University of Technology and Economics
Cairo University
California Institute of Technology
California State University, Long Beach
Capital Medical University
Cardiff University
Carleton University
Carlos III University of Madrid
Carnegie Mellon University
Case Western Reserve University
Catholic University of the Sacred Heart
Ca’ Foscari University of Venice
Central Queensland University
Chalmers University of Technology
Chang Gung University
Charité - Universitätsmedizin Berlin
Charles Darwin University
Charles University in Prague
Chiang Mai University
Chiba University
China Agricultural University
China Medical University, Taiwan
China University of Geosciences (Wuhan)
China University of Petroleum (Beijing)
Chinese University of Hong Kong
Chonbuk National University
Chongqing University
Chonnam National University
Chulalongkorn University
Chung Yuan Christian University
Chung-Ang University
Chungnam National University
City University London
City University of Hong Kong
Claude Bernard University Lyon 1
Clemson University
Colorado School of Mines
Colorado State University
Columbia University
Comenius University in Bratislava
Complutense University of Madrid
Concordia University
Copenhagen Business School
Cornell University
Coventry University
Creighton University
Curtin University
Czech Technical University in Prague
Dalhousie University
Dalian University of Technology
Dartmouth College
De Montfort University
Deakin University
Delft University of Technology
Drexel University
Dublin City University
Dublin Institute of Technology
Duke University
Durham University
ETH Zurich – Swiss Federal Institute of Technology Zurich
East China Normal University
East China University of Science and Technology
Edith Cowan University
Ehime University
Eindhoven University of Technology
Emory University
Erasmus University Rotterdam
Erciyes University
Ewha Womans University
Eötvös Loránd University
Federal University of Bahia
Federal University of Lavras
Federal University of Minas Gerais
Federal University of Paraná (UFPR)
Federal University of Rio Grande do Sul
Federal University of Rio de Janeiro
Federal University of Santa Catarina
Federal University of São Carlos
Federal University of Viçosa
Federico Santa María Technical University
Feng Chia University
Flinders University
Florida Institute of Technology
Florida International University
Florida State University
Free University of Berlin
Fu Jen Catholic University
Fudan University
Gdańsk University of Technology
George Mason University
George Washington University
Georgetown University
Georgia Health Sciences University
Georgia Institute of Technology
Georgia State University
Ghent University
Gifu University
Glasgow Caledonian University
Goethe University Frankfurt
Graz University of Technology
Griffith University
Gwangju Institute of Science and Technology
Hacettepe University
Hanyang University
Harbin Institute of Technology
Harvard University
Hebrew University of Jerusalem
Heidelberg University
Heriot-Watt University
Hiroshima University
Hokkaido University
Hong Kong Baptist University
Hong Kong Polytechnic University
Hong Kong University of Science and Technology
Howard University
Huazhong University of Science and Technology
Humboldt University of Berlin
Hunan University
I-Shou University
Illinois Institute of Technology
Imperial College London
Indian Institute of Science
Indian Institute of Technology Bombay
Indian Institute of Technology Delhi
Indian Institute of Technology Guwahati
Indian Institute of Technology Kanpur
Indian Institute of Technology Kharagpur
Indian Institute of Technology Madras
Indian Institute of Technology Roorkee
Indiana University
Inha University
Instituto Superior Técnico Lisboa
Iowa State University
Iran University of Science and Technology
Isfahan University of Technology
Istanbul Technical University
Istanbul University
Jadavpur University
Jagiellonian University
James Cook University
Jilin University
Johannes Gutenberg University of Mainz
Johannes Kepler University of Linz
Johns Hopkins University
Jordan University of Science and Technology
Joseph Fourier University
Juntendo University
Justus Liebig University Giessen
K.N. Toosi University of Technology
KTH Royal Institute of Technology
KU Leuven
Kanazawa University
Kansas State University
Kaohsiung Medical University
Karlsruhe Institute of Technology
Karolinska Institute
Kazan Federal University
Keele University
Keio University
Kent State University
Khon Kaen University
King Abdulaziz University
King Fahd University of Petroleum and Minerals
King Mongkut’s University of Technology Thonburi
King Saud University
Kingston University
King’s College London
Kinki University
Kobe University
Konkuk University
Korea Advanced Institute of Science and Technology (KAIST)
Korea University
Koç University
Kumamoto University
Kyoto University
Kyung Hee University
Kyungpook National University
Kyushu Institute of Technology
Kyushu University
LMU Munich
La Trobe University
Lancaster University
Lappeenranta University of Technology
Laval University
Lehigh University
Leibniz University of Hanover
Leiden University
Lille 1 University – Science and Technology
Lille 2 University – Health and Law
Linköping University
Liverpool John Moores University
Lomonosov Moscow State University
London School of Economics and Political Science
Loughborough University
Louisiana State University
Lund University
Maastricht University
Macquarie University
Mahidol University
Makerere University
Manchester Metropolitan University
Marche Polytechnic University
Masaryk University
Massachusetts Institute of Technology
Massey University
McGill University
McMaster University
Medical College of Wisconsin
Medical University of South Carolina
Medical University of Vienna
Memorial University of Newfoundland
Miami University
Michigan State University
Michigan Technological University
Middle East Technical University
Middlesex University
Mines ParisTech
Missouri University of Science and Technology
Monash University
Montana State University
Monterrey Institute of Technology and Higher Education
Montpellier University
Moscow Institute of Physics and Technology
Murdoch University
Nagasaki University
Nagoya University
Nanjing University
Nanyang Technological University
National Autonomous University of Mexico
National Central University
National Cheng Kung University
National Chengchi University
National Chiao Tung University
National Chung Cheng University
National Chung Hsing University
National Institute of Applied Sciences of Lyon (INSA Lyon)
National Research Nuclear University MePhI
National Sun Yat-Sen University
National Taipei University of Technology
National Taiwan Normal University
National Taiwan Ocean University
National Taiwan University
National Taiwan University of Science and Technology (Taiwan Tech)
National Technical University of Athens
National Tsing Hua University
National University of Córdoba
National University of Ireland, Galway
National University of Ireland, Maynooth
National University of Science and Technology (MISiS)
National University of Sciences and Technology
National University of Singapore
National Yang-Ming University
National and Kapodistrian University of Athens
New Jersey Institute of Technology
New Mexico State University
New University of Lisbon
New York University
Newcastle University
Niigata University
North Carolina State University
Northeastern University
Northumbria University
Northwestern Polytechnical University
Northwestern University
Norwegian University of Science and Technology
Nottingham Trent University
Novosibirsk State University
Oakland University
Ocean University of China
Ohio State University
Ohio University
Okayama University
Oklahoma State University
Old Dominion University
Oregon Health and Science University
Oregon State University
Osaka City University
Osaka Prefecture University
Osaka University
Otto von Guericke University of Magdeburg
Oxford Brookes University
Palacký University in Olomouc
Panjab University
Panthéon-Sorbonne University – Paris 1
Paris Dauphine University
Paris Descartes University
Paris Diderot University – Paris 7
Paris-Sorbonne University – Paris 4
Paris-Sud University
Peking University
Pennsylvania State University
Peter the Great St Petersburg Polytechnic University
Pierre and Marie Curie University
Plymouth University
Pohang University of Science and Technology
Polytechnic University of Catalonia
Polytechnic University of Milan
Polytechnic University of Turin
Polytechnic University of Valencia
Pompeu Fabra University
Pontifical Catholic University of Chile
Pontifical Catholic University of Paraná
Pontifical Catholic University of Rio Grande do Sul (PUCRS)
Pontifical Catholic University of Rio de Janeiro (PUC-Rio)
Pontifical Catholic University of Valparaíso
Portland State University
Prince of Songkla University
Princeton University
Purdue University
Pusan National University
Qatar University
Quaid-i-azam University
Queen Mary University of London
Queensland University of Technology
Queen’s University
Queen’s University Belfast
RMIT University
RWTH Aachen University
Radboud University Nijmegen
Renmin University of China
Rensselaer Polytechnic Institute
Rice University
Rio de Janeiro State University (UERJ)
Rochester Institute of Technology
Royal College of Surgeons in Ireland
Royal Holloway, University of London
Royal Veterinary College
Ruhr University Bochum
Rush University
Rutgers, the State University of New Jersey
Sabancı University
Saint Louis University
Saint Petersburg State University
Saitama University
San Diego State University
Sapienza University of Rome
Savitribai Phule Pune University
Scuola Normale Superiore di Pisa
Scuola Superiore Sant’Anna
Sejong University
Semmelweis University
Seoul National University
Shahid Beheshti University
Shanghai Jiao Tong University
Shanghai University
Shantou University
Sharif University of Technology
Sheffield Hallam University
Shinshu University
Showa University
Sichuan University
Simon Fraser University
Slovak University of Technology in Bratislava
Sogang University
Soochow University
Sophia University
South China University of Technology
Southern Cross University
Southern Federal University
Southern Methodist University
St George’s, University of London
Stanford University
State University of Campinas
State University of New York Albany
Stellenbosch University
Stockholm University
Stony Brook University
Suez Canal University
Sultan Qaboos University
Sun Yat-sen University
Sungkyunkwan University (SKKU)
Suranaree University of Technology
Swansea University
Swedish University of Agricultural Sciences
Swinburne University of Technology
Syracuse University
São Paulo State University (UNESP)
TU Dresden
Taipei Medical University
Tallinn University of Technology
Tampere University of Technology
Taras Shevchenko National University of Kyiv
Technical University of Berlin
Technical University of Darmstadt
Technical University of Denmark
Technical University of Dortmund
Technical University of Madrid
Technical University of Munich
Technion Israel Institute of Technology
Tehran University of Medical Sciences
Tel Aviv University
Temple University
Texas A&M University
Texas Tech University
The Open University
The University of Queensland
Tianjin University
Tilburg University
Tohoku University
Tokai University
Tokushima University
Tokyo Institute of Technology
Tokyo Medical and Dental University (TMDU)
Tokyo Metropolitan University
Tokyo University of Agriculture and Technology
Tokyo University of Marine Science and Technology
Tokyo University of Science
Tomsk Polytechnic University
Tomsk State University
Tongji University
Tottori University
Toulouse 1 Capitole University
Toyohashi University of Technology
Trinity College Dublin
Tsinghua University
Tufts University
Tulane University
UiT The Arctic University of Norway
Ulm University
Ulster University
Umeå University
United Arab Emirates University
Universiti Kebangsaan Malaysia
Universiti Putra Malaysia
Universiti Sains Malaysia
Universiti Teknologi MARA
Universiti Teknologi Malaysia
University College Cork
University College Dublin
University College London
University at Buffalo
University of A Coruña
University of Aberdeen
University of Adelaide
University of Alaska Fairbanks
University of Alberta
University of Alcalá
University of Amsterdam
University of Antioquia
University of Antwerp
University of Arizona
University of Arkansas
University of Auckland
University of Aveiro
University of Barcelona
University of Bari Aldo Moro
University of Basel
University of Bath
University of Belgrade
University of Bergen
University of Bern
University of Birmingham
University of Bologna
University of Bonn
University of Bordeaux
University of Bradford
University of Brasília
University of Bremen
University of Brescia
University of Brighton
University of Bristol
University of British Columbia
University of Bucharest
University of Burgundy
University of Cagliari
University of Calcutta
University of Calgary
University of California, Berkeley
University of California, Davis
University of California, Irvine
University of California, Los Angeles
University of California, Riverside
University of California, San Diego
University of California, Santa Barbara
University of California, Santa Cruz
University of Cambridge
University of Canberra
University of Canterbury
University of Cape Town
University of Castilla-La Mancha
University of Catania
University of Central Lancashire
University of Cergy-Pontoise
University of Chemistry and Technology, Prague
University of Chicago
University of Chile
University of Cincinnati
University of Coimbra
University of Cologne
University of Colorado Boulder
University of Connecticut
University of Copenhagen
University of Crete
University of Cyprus
University of Debrecen
University of Delaware
University of Delhi
University of Dhaka
University of Duisburg-Essen
University of Dundee
University of East Anglia
University of Eastern Finland
University of Edinburgh
University of Electronic Science and Technology of China
University of Erlangen-Nuremberg
University of Essex
University of Exeter
University of Ferrara
University of Florence
University of Florida
University of Freiburg
University of Fribourg
University of Geneva
University of Genoa
University of Georgia
University of Ghana
University of Glasgow
University of Gothenburg
University of Granada
University of Graz
University of Greenwich
University of Greifswald
University of Groningen
University of Guelph
University of Göttingen
University of Haifa
University of Hamburg
University of Hawai’i at Mānoa
University of Helsinki
University of Hertfordshire
University of Hohenheim
University of Hong Kong
University of Houston
University of Huddersfield
University of Hull
University of Ibadan
University of Iceland
University of Idaho
University of Illinois at Chicago
University of Illinois at Urbana-Champaign
University of Indonesia
University of Innsbruck
University of Ioannina
University of Iowa
University of Jordan
University of Jyväskylä
University of Kaiserslautern
University of Kansas
University of Kent
University of Kentucky
University of Kiel
University of Konstanz
University of KwaZulu-Natal
University of La Laguna
University of Latvia
University of Lausanne
University of Leeds
University of Leicester
University of Limerick
University of Lincoln
University of Lisbon
University of Liverpool
University of Liège
University of Ljubljana
University of Luxembourg
University of Macau
University of Manchester
University of Manitoba
University of Mannheim
University of Maribor
University of Marrakech Cadi Ayyad
University of Maryland, Baltimore County
University of Maryland, College Park
University of Massachusetts
University of Medicine and Dentistry of New Jersey
University of Melbourne
University of Miami
University of Michigan
University of Milan
University of Milan-Bicocca
University of Minho
University of Minnesota
University of Missouri
University of Modena and Reggio Emilia
University of Montana
University of Montreal
University of Murcia
University of Münster
University of Nairobi
University of Nantes
University of Naples Federico II
University of Navarra
University of Nebraska Medical Center
University of Nebraska-Lincoln
University of Neuchâtel
University of New Mexico
University of New South Wales
University of Newcastle
University of Nice Sophia Antipolis
University of North Carolina at Chapel Hill
University of North Carolina at Greensboro
University of Notre Dame
University of Nottingham
University of Oklahoma
University of Oregon
University of Oslo
University of Otago
University of Ottawa
University of Oulu
University of Oviedo
University of Oxford
University of Padua
University of Palermo
University of Pardubice
University of Paris North – Paris 13
University of Parma
University of Patras
University of Pavia
University of Pennsylvania
University of Pisa
University of Pittsburgh
University of Porto
University of Portsmouth
University of Pretoria
University of Pécs
University of Reading
University of Regina
University of Rennes 1
University of Rochester
University of Rome II – Tor Vergata
University of Rome III
University of Rovira i Virgili
University of Salamanca
University of Salento
University of Salford
University of San Francisco
University of Santiago de Compostela
University of Santiago, Chile (USACH)
University of Saskatchewan
University of Science and Technology Beijing
University of Science and Technology of China
University of Seoul
University of Seville
University of Sheffield
University of Siena
University of Silesia in Katowice
University of South Africa
University of South Australia
University of South Carolina
University of South Dakota
University of South Florida
University of Southampton
University of Southern California
University of Southern Denmark
University of Southern Mississippi
University of Southern Queensland
University of St Andrews
University of St Gallen
University of Stirling
University of Strasbourg
University of Strathclyde
University of Stuttgart
University of Surrey
University of Sussex
University of Sydney
University of Szeged
University of São Paulo
University of Tampere
University of Tartu
University of Tasmania
University of Technology Sydney
University of Tehran
University of Tennessee, Knoxville
University of Texas at Arlington
University of Texas at Austin
University of Texas at Dallas
University of Texas at El Paso
University of Texas at San Antonio
University of Tokyo
University of Toledo
University of Toronto
University of Trento
University of Trieste
University of Tsukuba
University of Tulsa
University of Turin

In [40]:
S = list (shgmax['university_name'])
for elem in list (shgmax['university_name']):
    print (elem)

Aalborg University
Aalto University
Aarhus University
Aix Marseille University
Aix-Marseille University
Aristotle University of Thessaloniki
Arizona State University
Arizona State University - Tempe
Auburn University
Autonomous University of Barcelona
Autonomous University of Madrid
Bangor University
Bar-Ilan University
Baylor College of Medicine
Beihang University
Beijing Normal University
Beijing University of Aeronautics and Astronautics
Ben-Gurion University of the Negev
Bielefeld University
Birkbeck, University of London
Boston College
Boston University
Brandeis University
Brigham Young University
Brown University
Brunel University
Cairo University
California Institute of Technology
Capital Medical University
Capital University of Medical Sciences
Cardiff University
Carleton University
Carnegie Mellon University
Case Western Reserve University
Catholic University of Chile
Catholic University of Korea
Catholic University of Leuven
Catholic University of Louvain
Catholic University of the Sacred Heart
Central South University
Chalmers University of Technology
Chang Gung University
Charles University in Prague
Chiba University
China Agricultural University
China Medical University
Chungnam National University
City University of Hong Kong
City University of New York City College
Claude Bernard University Lyon 1
Clemson University
College of France
Colorado State University
Columbia University
Complutense University of Madrid
Concordia University
Cornell University
Cranfield University
Curtin University
Curtin University of Technology
Dalhousie University
Dalian University of Technology
Dartmouth College
Deakin University
Delft University of Technology
Dresden University of Technology
Drexel University
Duke University
Durham University
ESPCI ParisTech
East China University of Science and Technology
Ecole National Superieure Mines - Paris
Ecole Normale Superieure - Lyon
Ecole Normale Superieure - Paris
Ecole Polytechnique
Ehime University
Eindhoven University of Technology
Emory University
Eotvos Lorand University
Erasmus University
Ewha Womans University
Federal University of Minas Gerais
Federal University of Rio Grande do Sul
Federal University of Rio de Janeiro
Federal University of Sao Paulo
Flinders University
Florida International University
Florida State University
Fudan University
George Mason University
Georgetown University
Georgia Institute of Technology
Ghent University
Gifu University
Griffith University
Gunma University
Hacettepe University
Hannover Medical School
Hanyang University
Harbin Institute of Technology
Harvard University
Heidelberg University
Henri Poincare University (Nancy 1)
Hiroshima University
Hokkaido University
Howard University
Huazhong University of Science and Technology
Icahn School of Medicine at Mount Sinai
Indian Institute of Science
Indian Institute of Technology Kharagpur
Indiana University Bloomington
Indiana University-Purdue University at Indianapolis
Industrial Physics and Chemistry Higher Educational Institution - Paris
International School for Advanced Studies
Iowa State University
Istanbul University
Jagiellonian University
James Cook University
Jilin University
Johns Hopkins University
Joseph Fourier University (Grenoble 1)
Juntendo University
KTH Royal Institute of Technology
KU Leuven
Kagoshima University
Kanazawa University
Kansas State University
Karlsruhe Institute of Technology (KIT)
Karolinska Institute
Keio University
Kent State University
King Abdulaziz University
King Abdullah University of Science and Technology
King Fahd University of Petroleum & Minerals
King Saud University
King's College London
Kobe University
Korea Advanced Institute of Science and Technology
Korea University
Kumamoto University
Kyoto University
Kyung Hee University
Kyungpook National University
Kyushu University
La Trobe University
Lancaster University
Lanzhou University
Laval University
Lehigh University
Leiden University
Linkoping University
London School of Economics and Political Science
London School of Hygiene & Tropical Medicine
London School of Hygiene and Tropical Medicine
Loughborough University
Louisiana State University - Baton Rouge
Louisiana State University Health Sciences Center
Loyola University Chicago
Lund University
MINES ParisTech
Maastricht University
Macquarie University
Massachusetts Institute of Technology (MIT)
Massey University
Mayo Medical School
McGill University
McMaster University
Medical College of Georgia
Medical College of Wisconsin
Medical University of Graz
Medical University of Innsbruck
Medical University of South Carolina
Medical University of Vienna
Memorial University of Newfoundland
Michigan State University
Michigan Technological University
Mississippi State University
Monash University
Montana State University - Bozeman
Moscow State University
Mount Sinai School of Medicine
Murdoch University
Nagasaki University
Nagoya University
Nanjing Medical University
Nanjing University
Nankai University
Nanyang Technological University
Nara Institute of Science and Technology
National Autonomous University of Mexico
National Central University
National Cheng Kung University
National Chiao Tung University
National Sun Yat-Sen University
National Taiwan University
National Tsing Hua University
National University of Singapore
National Yang Ming University
National and Kapodistrian University of Athens
New Jersey Institute of Technology
New Mexico State University
New York University
Newcastle University
Nihon University
Niigata University
North Carolina State University - Raleigh
Northeastern University
Northern Arizona University
Northwestern University
Norwegian University of Science and Technology
Norwegian University of Science and Technology - NTNU
Ohio University
Okayama University
Oklahoma State University
Old Dominion University
Oregon Health and Science University
Oregon State University
Osaka City University
Osaka Prefecture University
Osaka University
Paris Dauphine University (Paris 9)
Paul Sabatier University (Toulouse 3)
Peking Union Medical College
Peking University
Pennsylvania State University - University Park
Pierre and Marie  Curie University - Paris 6
Pohang University of Science and Technology
Polytechnic Institute of Milan
Polytechnic University of Catalonia
Polytechnic University of Turin
Polytechnic University of Valencia
Pompeu Fabra University
Portland State University
Princeton University
Purdue University - West Lafayette
Pusan National University
Queen Mary University of London
Queen Mary, U. of London
Queen Mary, University of London
Queen's University
Queen's University Belfast
Queensland University of Technology
RWTH Aachen University
Radboud University Nijmegen
Rensselaer Polytechnic Institute
Rice University
Rockefeller University
Royal Holloway, U. of London
Royal Institute of Technology
Rush University
Rutgers, The State University of New Jersey
Rutgers, The State University of New Jersey - New Brunswick
SUNY at Albany
Saarland University
Saint Louis University
Saint Petersburg State University
San Diego State University
Sao Paulo State University
Sapienza University of Rome
Scuola Normale Superiore - Pisa
Seoul National University
Shandong University
Shanghai Jiao Tong University
Sharif University of Technology
Sichuan University
Simon Fraser University
Soochow University
South China University of Technology
Southeast University
Southern Methodist University
Stanford University
State University of Campinas
State University of New York Health Science Center at Brooklyn
State University of New York at Albany
State University of New York at Buffalo
State University of New York at Stony Brook
Stellenbosch University
Stockholm School of Economics
Stockholm University
Stony Brook University
Sun Yat-sen University
Sungkyunkwan University
Swansea Univ
Swedish University of Agricultural Sciences
Swinburne University of Technology
Swiss Federal Institute of Technology Lausanne
Swiss Federal Institute of Technology Zurich
Swiss Federal Institute of Technology of Lausanne
Syracuse University
TU Dresden
Technical University Darmstadt
Technical University Munich
Technical University of Berlin
Technical University of Braunschweig
Technical University of Denmark
Technion-Israel Institute of Technology
Tel Aviv University
Temple University
Texas A & M University
Texas A&M University
Texas A&M University - College Station
Texas Tech University
The Australian National University
The Chinese University of Hong Kong
The College of  William and Mary
The George Washington University
The Graduate University for Advanced Studies
The Hebrew University of Jerusalem
The Hong Kong Polytechnic University
The Hong Kong University of Science and Technology
The Imperial College of Science, Technology and Medicine
The Johns Hopkins University
The Ohio State University - Columbus
The Open University
The Royal Veterinary and Agricultural University
The University of Adelaide
The University of Akron
The University of Alabama at Birmingham
The University of Auckland
The University of Calgary
The University of Connecticut - Storrs
The University of Connecticut Health Center
The University of Dundee
The University of Edinburgh
The University of Georgia
The University of Glasgow
The University of Hong Kong
The University of Manchester
The University of Melbourne
The University of Memphis
The University of Montana - Missoula
The University of New Mexico - Albuquerque
The University of New South Wales
The University of Newcastle, Australia
The University of Queensland
The University of Reading
The University of Sheffield
The University of Texas Health Science Center at Houston
The University of Texas Health Science Center at San Antonio
The University of Texas M. D. Anderson Cancer Center
The University of Texas Medical Branch at Galveston
The University of Texas Southwestern Medical Center at Dallas
The University of Texas at Austin
The University of Texas at Dallas
The University of Texas at San Antonio
The University of Tokushima
The University of Tokyo
The University of Western Australia
Thomas Jefferson University
Tianjin University
Tilburg University
Tohoku University
Tokyo Institute of Technology
Tokyo Medical and Dental University
Tokyo Metropolitan University
Tokyo University of Agriculture and Technology
Tokyo University of Science
Tongji University
Toulouse School of Economics
Trinity College Dublin
Tsinghua University
Tufts University
Tulane University
UNESP
Umea University
University College Cork
University College Dublin
University College London
University Libre Bruxelles
University Paris Diderot - Paris 7
University at Albany (State University of New York)
University at Buffalo, the State University of New York
University of Aberdeen
University of Alabama at Birmingham
University of Alaska - Fairbanks
University of Alberta
University of Amsterdam
University of Antwerp
University of Arizona
University of Arkansas at Fayetteville
University of Arkansas at Little Rock
University of Auvergne
University of Barcelona
University of Bari
University of Basel
University of Bath
University of Bayreuth
University of Belgrade
University of Bergen
University of Bern
University of Bielefeld
University of Birmingham
University of Bochum
University of Bologna
University of Bonn
University of Bordeaux
University of Bordeaux 1
University of Bradford
University of Bremen
University of Bristol
University of British Columbia
University of Buenos Aires
University of Cagliari
University of Calcutta
University of California, Berkeley
University of California, Davis
University of California, Irvine
University of California, Los Angeles
University of California, Riverside
University of California, San Diego
University of California, San Francisco
University of California, Santa Barbara
University of California, Santa Cruz
University of California-Berkeley
University of Cambridge
University of Campinas
University of Canterbury
University of Cape Town
University of Central Florida
University of Chicago
University of Chile
University of Cincinnati
University of Coimbra
University of Colorado Health Science Center
University of Colorado at Boulder
University of Colorado at Denver
University of Connecticut
University of Copenhagen
University of Delaware
University of Dortmund
University of Duesseldorf
University of Duisburg-Essen
University of Durham
University of East Anglia
University of Eastern Finland
University of Erlangen-Nuremberg
University of Essex
University of Exeter
University of Ferrara
University of Florence
University of Florida
University of Frankfurt
University of Freiburg
University of Fribourg
University of Geneva
University of Genoa
University of Genova
University of Giessen
University of Goettingen
University of Gothenburg
University of Granada
University of Graz
University of Greifswald
University of Groningen
University of Guelph
University of Haifa
University of Halle-Wittenberg
University of Hamburg
University of Hannover
University of Hawaii at Manoa
University of Heidelberg
University of Helsinki
University of Hertfordshire
University of Houston
University of Idaho
University of Illinois at Chicago
University of Illinois at Urbana-Champaign
University of Innsbruck
University of Iowa
University of Jena
University of Jyvaskyla
University of Kansas
University of Kansas - Lawrence
University of Kansas Medical Center
University of Karlsruhe
University of Kentucky
University of Kiel
University of Koeln
University of Konstanz
University of KwaZulu-Natal
University of Lausanne
University of Leeds
University of Leicester
University of Leipzig
University of Liege
University of Lille 1
University of Lisbon
University of Liverpool
University of Ljubljana
University of Lorraine
University of Louisville
University of Maastricht
University of Maine
University of Mainz
University of Malaya
University of Manitoba
University of Marburg
University of Maryland, Baltimore
University of Maryland, Baltimore County
University of Maryland, College Park
University of Massachusetts Amherst
University of Massachusetts Medical School - Worcester
University of Medicine and Dentistry New Jersey
University of Melbourne
University of Miami
University of Michigan - Ann Arbor
University of Michigan-Ann Arbor
University of Milan
University of Milan - Bicocca
University of Minnesota, Twin Cities
University of Mississippi
University of Missouri - Columbia
University of Montana - Missoula
University of Montpellier
University of Montpellier 2
University of Montreal
University of Muenster
University of Munich
University of Naples Federico II
University of Nebraska - Lincoln
University of Nebraska Medical Center
University of Nevada - Reno
University of New England
University of New Hampshire - Durham
University of New South Wales
University of Newcastle
University of Nice Sophia Antipolis
University of North Carolina at Chapel Hill
University of Notre Dame
University of Nottingham
University of Oklahoma - Norman
University of Oregon
University of Oslo
University of Otago
University of Ottawa
University of Oulu
University of Oxford
University of Padua
University of Palermo
University of Paris Dauphine (Paris 9)
University of Paris Descartes (Paris 5)
University of Paris Diderot (Paris 7)
University of Paris Sud (Paris 11)
University of Paris-Sud (Paris 11)
University of Parma
University of Pavia
University of Pennsylvania
University of Perugia
University of Pisa
University of Pittsburgh
University of Pittsburgh, Pittsburgh Campus
University of Pittsburgh-Pittsburgh Campus
University of Pompeu Fabra
University of Porto
University of Pretoria
University of Provence (Aix-Marseille 1)
University of Quebec
University of Regensburg
University of Rennes 1
University of Rhode Island
University of Rochester
University of Roma - La Sapienza
University of Roma - Tor Vergata
University of Rostock
University of Santiago Compostela
University of Sao Paulo
University of Saskatchewan
University of Science and Technology of China
University of Science, Malaysia
University of Sevilla
University of Seville
University of Sherbrooke
University of Siena
University of South Carolina - Columbia
University of South Florida
University of Southampton
University of Southern California
University of Southern Denmark
University of St Andrews
University of Strasbourg
University of Strathclyde
University of Stuttgart
University of Surrey
University of Sussex
University of Sydney
University of Szeged
University of Tasmania
University of Technology, Sydney
University of Tehran
University of Tennessee - Knoxville
University of Tennessee Health Science Center
University of Toronto
University of Trieste
University of Tromso
University of Tsukuba
University of Tuebingen
University of Turin
University of Turku
University of Twente
University of Ulm
University of Utah
University of Valencia
University of Vermont
University of Versailles
University of Victoria
University of Vienna
University of Vigo
University of Virginia
University of Wageningen
University of Warsaw
University of Warwick
University of Washington
University of Waterloo
University of Wisconsin - Madison
University of Wisconsin - Milwaukee
University of Wollongong
University of Wroclaw
University of Wuerzburg
University of Wyoming
University of York
University of Zagreb
University of Zaragoza
University of Zurich
University of the Basque Country
University of the Mediterranean (Aix-Marseille 2)
University of the Witwatersrand
Université libre de Bruxelles (ULB)
Uppsala University
Utah State University
Utrecht University
VU University Amsterdam
Vanderbilt University
Victor Segalen Bordeaux 2 University
Victoria University of Wellington
Vienna University of Technology
Virginia Commonwealth University
Virginia Polytechnic Institute and State University
Vrije Universiteit Brussel (VUB)
Vrije University Brussel
Wake Forest University
Waseda University
Washington State University
Washington State University - Pullman
Washington University in St. Louis
Wayne State University
Weizmann Institute of Science
West Virginia University
Western University
Western University (The University of Western Ontario)
Wuhan University
Xiamen University
Xian Jiao Tong University
Yale University
Yamaguchi University
Yeshiva University
Yonsei University
York University
Zhejiang University

In [41]:
C = list (cwurmax['university_name'])
for elem in list (cwurmax['university_name']):
    print (elem)

AGH University of Science and Technology
Aalborg University
Aalto University
Aarhus University
Aberystwyth University
Adam Mickiewicz University in Poznań
Ain Shams University
Aix-Marseille University
Ajou University
Albany Medical College
Albert Ludwig University of Freiburg
Alexandria University
All India Institute of Medical Sciences, New Delhi
American University of Beirut
Amirkabir University of Technology
Ankara University
Aristotle University of Thessaloniki
Arizona State University
Aston University
Auburn University
Australian National University
Autonomous University of Barcelona
Autonomous University of Madrid
Babeș-Bolyai University
Banaras Hindu University
Bangor University
Bar-Ilan University
Baylor College of Medicine
Baylor University
Beihang University
Beijing Institute of Technology
Beijing Jiaotong University
Beijing Normal University
Beijing University of Chemical Technology
Beijing University of Technology
Ben-Gurion University of the Negev
Bielefeld University
Bilkent University
Binghamton University
Birkbeck, University of London
Blaise Pascal University
Boston College
Boston University
Bowling Green State University
Boğaziçi University
Brandeis University
Braunschweig University of Technology
Brigham Young University
Brock University
Brown University
Brunel University
Budapest University of Technology and Economics
Cairo University
California Institute of Technology
Capital Medical University
Cardiff University
Carleton University
Carlos III University of Madrid
Carnegie Mellon University
Case Western Reserve University
Catholic University of Korea
Catholic University of the Sacred Heart
Central China Normal University
Central South University
Chalmers University of Technology
Chang Gung University
Charles Darwin University
Charles University in Prague
Chemnitz University of Technology
Chiang Mai University
Chiba University
China Agricultural University
China Medical University (PRC)
China Medical University (Taiwan)
China Pharmaceutical University
China University of Geosciences (Wuhan)
Chinese University of Hong Kong
Chonbuk National University
Chongqing University
Chonnam National University
Chosun University
Chulalongkorn University
Chung Shan Medical University
Chung Yuan Christian University
Chung-Ang University
Chungbuk National University
Chungnam National University
City College of New York
City University London
City University of Hong Kong
Clarkson University
Claude Bernard University Lyon 1
Clemson University
College of William and Mary
Colorado School of Mines
Colorado State University - Fort Collins
Columbia University
Comenius University in Bratislava
Complutense University of Madrid
Concordia University
Cornell University
Cranfield University
Creighton University
Curtin University
Czech Technical University in Prague
Dalhousie University
Dalian University of Technology
Dankook University
Darmstadt University of Technology
Dartmouth College
Deakin University
Delft University of Technology
Dokuz Eylül University
Dongguk University
Donghua University
Dresden University of Technology
Drexel University
Dublin City University
Duke University
Durham University
East Carolina University
East China Normal University
East China University of Science and Technology
Ege University
Ehime University
Eindhoven University of Technology
Emory University
Erasmus University Rotterdam
Ewha Womans University
Eötvös Loránd University
Federal University of ABC
Federal University of Bahia
Federal University of Ceará
Federal University of Minas Gerais
Federal University of Paraná
Federal University of Pernambuco
Federal University of Rio Grande do Sul
Federal University of Rio de Janeiro
Federal University of Santa Catarina
Federal University of Santa Maria
Federal University of São Carlos
Federal University of São Paulo
Federico Santa María Technical University
Feng Chia University
Flinders University
Florida Atlantic University
Florida Institute of Technology
Florida International University
Florida State University
Fluminense Federal University
Fourth Military Medical University
Free University of Berlin
Fu Jen Catholic University
Fudan University
Fukuoka University
Fuzhou University
G. d'Annunzio University, Chieti-Pescara
Gachon University
Gazi University
George Mason University
George Washington University
Georgetown University
Georgia Institute of Technology
Georgia Regents University
Georgia State University
Ghent University
Gifu University
Goethe University Frankfurt
Graduate University for Advanced Studies
Graz University of Technology
Grenoble Institute of Technology
Griffith University
Guangxi University
Gunma University
Gwangju Institute of Science and Technology
Gyeongsang National University
Hacettepe University
Hallym University
Hamamatsu University School of Medicine
Hannover Medical School
Hanyang University
Harbin Engineering University
Harbin Institute of Technology
Harbin Medical University
Harvard University
Hasselt University
Hebrew University of Jerusalem
Hefei University of Technology
Henan Normal University
Heriot-Watt University
Hirosaki University
Hiroshima University
Hokkaido University
Hong Kong Baptist University
Hong Kong Polytechnic University
Hong Kong University of Science and Technology
Howard University
Huazhong Agricultural University
Huazhong University of Science and Technology
Humboldt University of Berlin
Hunan Normal University
Hunan University
Hunter College
I-Shou University
Ibaraki University
Icahn School of Medicine at Mount Sinai
Illinois Institute of Technology
Imperial College London
Indian Institute of Science
Indian Institute of Technology Bombay
Indian Institute of Technology Delhi
Indian Institute of Technology Kanpur
Indian Institute of Technology Kharagpur
Indian Institute of Technology Madras
Indian Institute of Technology Roorkee
Indiana University - Bloomington
Indiana University-Purdue University Indianapolis
Inha University
Inje University
Innsbruck Medical University
Institut national des sciences Appliquées de Lyon
International School for Advanced Studies
Iowa State University
Iran University of Science and Technology
Isfahan University of Technology
Istanbul Technical University
Istanbul University
Jacobs University Bremen
Jadavpur University
Jagiellonian University
James Cook University
Jaume I University
Jawaharlal Nehru Centre for Advanced Scientific Research
Jean Monnet University
Jiangnan University
Jiangsu University
Jichi Medical University
Jikei University School of Medicine
Jilin University
Jinan University
Johannes Gutenberg University of Mainz
Johannes Kepler University of Linz
Johns Hopkins University
Joseph Fourier University
Julius-Maximilian's University of Würzburg
Juntendo University
Justus Liebig University Giessen
Kagoshima University
Kaiserslautern University of Technology
Kanazawa University
Kangwon National University
Kansas State University
Kaohsiung Medical University
Karlsruhe Institute of Technology
Karolinska Institute
Katholieke Universiteit Leuven
Keele University
Keio University
Kent State University
Kindai University
King Abdulaziz University
King Abdullah University of Science and Technology
King Fahd University of Petroleum and Minerals
King Juan Carlos University
King Saud University
King's College London
Kitasato University
Kobe University
Konkuk University
Korea Advanced Institute of Science and Technology (KAIST)
Korea University
Kumamoto University
Kurume University
Kyoto Institute of Technology
Kyoto Prefectural University of Medicine
Kyoto University
Kyung Hee University
Kyungpook National University
Kyushu University
Kōchi University
LSU Health Sciences Center New Orleans
La Trobe University
Lancaster University
Lanzhou University
Laval University
Lehigh University
Leiden University
Leipzig University
Lille 2 University of Health and Law
Linköping University
Liverpool John Moores University
Loma Linda University
Lomonosov Moscow State University
London School of Economics
London School of Hygiene & Tropical Medicine
Loughborough University
Louisiana State University - Baton Rouge
Louisiana Tech University
Loyola University Chicago
Ludwig Maximilian University of Munich
Lund University
Maastricht University
Macquarie University
Magna Græcia University of Catanzaro
Mahidol University
Makerere University
Manchester Metropolitan University
Mansoura University
Marche Polytechnic University
Marquette University
Martin Luther University of Halle-Wittenberg
Masaryk University
Massachusetts Institute of Technology
Massey University
McGill University
McMaster University
Medical College of Wisconsin
Medical University of Graz
Medical University of South Carolina
Medical University of Vienna
Memorial University of Newfoundland
Miami University
Michigan State University
Michigan Technological University
Middle East Technical University
Mie University
Miguel Hernández University of Elche
Mines ParisTech
Mississippi State University
Missouri University of Science and Technology
Monash University
Montana State University - Bozeman
Moscow Institute of Physics and Technology
Murdoch University
Nagasaki University
Nagoya City University
Nagoya Institute of Technology
Nagoya University
Nanjing Agricultural University
Nanjing Medical University
Nanjing Normal University
Nanjing University
Nanjing University of Aeronautics and Astronautics
Nanjing University of Science and Technology
Nanjing University of Technology
Nankai University
Nanyang Technological University
Nara Institute of Science and Technology
National Autonomous University of Mexico
National Central University
National Cheng Kung University
National Chiao Tung University
National Chung Cheng University
National Chung Hsing University
National Dong Hwa University
National Polytechnic Institute
National Polytechnic Institute of Toulouse
National Research Nuclear University MEPhI
National Sun Yat-sen University
National Taipei University of Technology
National Taiwan Normal University
National Taiwan Ocean University
National Taiwan University
National Taiwan University of Science and Technology
National Technical University of Athens
National Tsing Hua University
National University of Colombia
National University of Córdoba
National University of Defense Technology
National University of Ireland, Galway
National University of Ireland, Maynooth
National University of La Plata
National University of Rosario
National University of Singapore
National Yang-Ming University
National and Kapodistrian University of Athens
New Jersey Institute of Technology
New Mexico State University
New York Medical College
New York University
Newcastle University
Nicolaus Copernicus University in Toruń
Nihon University
Niigata University
North Carolina State University
North Dakota State University - Main Campus
Northeast Normal University
Northeastern University
Northeastern University (China)
Northern Arizona University
Northern Illinois University
Northwest A&F University
Northwest University (China)
Northwestern Polytechnical University
Northwestern University
Norwegian University of Life Sciences
Norwegian University of Science and Technology
Novosibirsk State University
Oakland University
Ocean University of China
Ohio State University, Columbus
Ohio University
Okayama University
Oklahoma State University–Stillwater
Old Dominion University
Open University (UK)
Oregon Health & Science University
Oregon State University
Osaka City University
Osaka Prefecture University
Osaka University
Otto-von-Guericke University Magdeburg
Palacký University, Olomouc
Panjab University
Paris Descartes University
Paris Diderot University - Paris 7
Paris-Est Créteil Val-de-Marne University
Paul Sabatier University - Toulouse III
Paul Valéry University, Montpellier III
Peking Union Medical College
Peking University
Pennsylvania State University, University Park
Pierre-and-Marie-Curie University
Plymouth University
Pohang University of Science and Technology
Polytechnic University of Catalonia
Polytechnic University of Milan
Polytechnic University of Turin
Polytechnic University of Valencia
Pompeu Fabra University
Pontifical Catholic University of Chile
Portland State University
Princeton University
Public University of Navarre
Pukyong National University
Purdue University, West Lafayette
Pusan National University
Putra University, Malaysia
Queen Mary University of London
Queen's University
Queen's University Belfast
Queens College, City University of New York
Queensland University of Technology
RMIT University
RWTH Aachen University
Radboud University Nijmegen
Renmin University of China
Rensselaer Polytechnic Institute
Rice University
Rio de Janeiro State University
Ritsumeikan University
Rochester Institute of Technology
Rockefeller University
Roma Tre University
Rovira i Virgili University
Royal College of Surgeons in Ireland
Royal Holloway, University of London
Royal Institute of Technology
Royal Veterinary College, University of London
Ruhr University Bochum
Ruprecht Karl University of Heidelberg
Rush University
Rutgers University-New Brunswick
Rutgers, The State University of New Jersey - Newark
Ryerson University
SUNY Downstate Medical Center
Saarland University
Saga University
Saint Louis University
Saint Petersburg State University
Saitama Medical University
Saitama University
San Diego State University
San Francisco State University
Sapienza University of Rome
Sapporo Medical University
Scuola Normale Superiore di Pisa
Second Military Medical University
Second University of Naples
Sejong University
Semmelweis University
Seoul National University
Shaanxi Normal University
Shahid Beheshti University of Medical Sciences
Shandong University
Shanghai Jiao Tong University
Shanghai Normal University
Shanghai University
Shanxi University
Sharif University of Technology
Shenzhen University
Shimane University
Shinshu University
Shiraz University
Shizuoka University
Showa University
Sichuan University
Simon Fraser University
Sofia University
Sogang University
Soochow University (Suzhou)
South China Agricultural University
South China Normal University
South China University of Technology
Southeast University
Southern Illinois University Carbondale
Southern Medical University
Southern Methodist University
Southwest Jiaotong University
Southwest University
St George's, University of London
Stanford University
State University of New York Upstate Medical University
Stellenbosch University
Stockholm University
Stony Brook University
Sun Yat-sen University
Sungkyunkwan University
Swansea University
Swedish University of Agricultural Sciences
Swinburne University of Technology
Swiss Federal Institute of Technology in Lausanne
Swiss Federal Institute of Technology in Zurich
Syracuse University
Taipei Medical University
Tamkang University
Tampere University of Technology
Tarbiat Modares University
Tata Institute of Fundamental Research
Technical University of Berlin
Technical University of Denmark
Technical University of Dortmund
Technical University of Madrid
Technical University of Munich
Technion – Israel Institute of Technology
Tehran University of Medical Sciences
Teikyo University
Tel Aviv University
Temple University
Texas A&M Health Science Center
Texas A&M University, College Station
Texas Tech University (TTU)
The Catholic University of America
Third Military Medical University
Thomas Jefferson University
Tianjin Medical University
Tianjin University
Tilburg University
Toho University
Tohoku University
Tokai University
Tokyo Institute of Technology
Tokyo Medical and Dental University
Tokyo Metropolitan University
Tokyo University of Agriculture and Technology
Tokyo University of Science
Tokyo Women's Medical University
Tongji University
Tottori University
Trent University
Trinity College, Dublin
Tsinghua University
Tufts University
Tulane University
UNESP, São Paulo State University
Ulsan National Institute of Science and Technology
Umeå University
United Arab Emirates University
Universidade Nova de Lisboa
University College Cork
University College Dublin
University College London
University François Rabelais, Tours
University Lille 1: Sciences and Technologies
University at Albany, SUNY
University at Buffalo, The State University of New York
University of A Coruña
University of Aberdeen
University of Adelaide
University of Akron
University of Alabama - Tuscaloosa
University of Alabama at Birmingham
University of Alabama in Huntsville
University of Alaska Fairbanks
University of Alberta
University of Alcalá
University of Alicante
University of Almería
University of Amsterdam
University of Angers
University of Antwerp
University of Arizona
University of Arkansas - Fayetteville
University of Arkansas for Medical Sciences
University of Auckland
University of Augsburg
University of Aveiro
University of Barcelona
University of Bari Aldo Moro
University of Basel
University of Basilicata
University of Bath
University of Bayreuth
University of Belgrade
University of Bergen
University of Bern
University of Birmingham
University of Bologna
University of Bonn
University of Bordeaux
University of Bordeaux I
University of Bordeaux II
University of Bradford
University of Brasília
University of Bremen
University of Brescia
University of Brighton
University of Bristol
University of British Columbia
University of Bucharest
University of Buenos Aires
University of Burgundy
University of Caen Lower Normandy
University of Cagliari
University of Calabria
University of Calcutta
University of Calgary
University of California, Berkeley
University of California, Davis
University of California, Irvine
University of California, Los Angeles
University of California, Merced
University of California, Riverside
University of California, San Diego
University of California, San Francisco
University of California, Santa Barbara
University of California, Santa Cruz
University of Cambridge
University of Camerino
University of Campinas
University of Cantabria
University of Canterbury
University of Cape Town
University of Castilla–La Mancha
University of Catania
University of Central Florida
University of Central Lancashire
University of Chemistry and Technology, Prague
University of Chicago
University of Chile
University of Cincinnati
University of Coimbra
University of Cologne
University of Colorado Boulder
University of Colorado Denver
University of Concepción
University of Connecticut
University of Copenhagen
University of Crete
University of Cyprus
University of Cádiz
University of Córdoba (Spain)
University of Dayton
University of Debrecen
University of Delaware
University of Delhi
University of Denver
University of Duisburg-Essen
University of Dundee
University of Düsseldorf
University of East Anglia
University of Eastern Finland
University of Eastern Piedmont Amedeo Avogadro""
University of Edinburgh
University of Electro-Communications
University of Electronic Science and Technology of China
University of Erlangen-Nuremberg
University of Essex
University of Exeter
University of Extremadura
University of Ferrara
University of Florence
University of Florida
University of Franche-Comté
University of Fribourg
University of Fukui
University of Geneva
University of Genoa
University of Georgia
University of Girona
University of Glasgow
University of Gothenburg
University of Granada
University of Graz
University of Greifswald
University of Groningen
University of Guelph
University of Göttingen
University of Haifa
University of Hamburg
University of Hanover
University of Hawaii at Manoa
University of Helsinki
University of Hertfordshire
University of Hohenheim
University of Hong Kong
University of Houston
University of Hull
University of Hyderabad
University of Hyogo
University of Iceland
University of Idaho
University of Illinois at Chicago
University of Illinois at Urbana–Champaign
University of Innsbruck
University of Insubria
University of Ioannina
University of Iowa
University of Jaén
University of Jena
University of Jyväskylä
University of Kansas
University of Kent
University of Kentucky
University of Kiel

In [42]:
ris_10 = C + S + T

In [43]:
[[x,ris_10.count(x)] for x in set(ris_10)]

[['Ben-Gurion University of the Negev', 3],
 ['Otto von Guericke University of Magdeburg', 1],
 ['Southwest University', 1],
 ['Indian Institute of Technology Kharagpur', 3],
 ['Tarbiat Modares University', 1],
 ['University of Minho', 2],
 ['TU Dresden', 2],
 ['Second Military Medical University', 1],
 ['Macquarie University', 3],
 ['Eotvos Lorand University', 1],
 ['Huazhong University of Science and Technology', 3],
 ['University of Salento', 2],
 ['Southern Illinois University Carbondale', 1],
 ['University of Texas at Arlington', 2],
 ['University of Bremen', 3],
 ['Gyeongsang National University', 1],
 ['Chalmers University of Technology', 3],
 ['Okayama University', 3],
 ['Tokushima University', 1],
 ['Beijing Institute of Technology', 2],
 ['University of Wisconsin - Milwaukee', 1],
 ['Braunschweig University of Technology', 1],
 ['University of Silesia', 1],
 ['University of Texas Southwestern Medical Center', 1],
 ['The Johns Hopkins University', 1],
 ['University of Technology, Sydney', 2],
 ['Rockefeller University', 2],
 ['Uppsala University', 3],
 ['Southwest Jiaotong University', 1],
 ['University of Vermont', 3],
 ['University of Hyogo', 1],
 ['Hunan Normal University', 1],
 ['University of Dortmund', 1],
 ['University of Santiago de Compostela', 2],
 ['Technical University Munich', 1],
 ['University of Parma', 3],
 ['Jagiellonian University', 3],
 ['University of Pisa', 3],
 ['The Hong Kong University of Science and Technology', 1],
 ['University of New England (Australia)', 1],
 ['University of Auckland', 2],
 ['University of Granada', 3],
 ['The University of Texas at Dallas', 1],
 ['Babeș-Bolyai University', 1],
 ['University of Liège', 2],
 ['Paris-Sud University', 1],
 ['Lille 2 University of Health and Law', 1],
 ['University of Hohenheim', 2],
 ['University of Texas Health Science Center at Houston', 1],
 ['Andhra University', 1],
 ['University of Tasmania', 3],
 ['University of Kaiserslautern', 1],
 ["University of Pau and Pays de l'Adour", 1],
 ['The College of  William and Mary', 1],
 ['Cairo University', 3],
 ['University of Missouri - Columbia', 1],
 ['Stony Brook University', 3],
 ['Goethe University Frankfurt', 2],
 ['University of Waikato', 2],
 ['Hamamatsu University School of Medicine', 1],
 ['Universiti Putra Malaysia', 1],
 ['Yıldız Technical University', 1],
 ['University of Nebraska Medical Center', 3],
 ['Shaanxi Normal University', 1],
 ['University of West Bohemia', 1],
 ['University of Poitiers', 1],
 ['The Royal Veterinary and Agricultural University', 1],
 ['Aix-Marseille University', 3],
 ['Bar-Ilan University', 3],
 ['University of Central Lancashire', 2],
 ['École normale supérieure de Lyon', 1],
 ['Sichuan University', 3],
 ['University of Iceland', 2],
 ['University of New Hampshire', 1],
 ['Columbia University', 3],
 ['University of Rostock', 2],
 ['The Imperial College of Science, Technology and Medicine', 1],
 ['University of Leicester', 3],
 ['Montpellier University', 1],
 ['Pennsylvania State University - University Park', 1],
 ['Rio de Janeiro State University', 1],
 ['City College of New York', 1],
 ['Chiang Mai University', 2],
 ['University of Texas at San Antonio', 2],
 ['Erciyes University', 1],
 ['University of Pittsburgh-Pittsburgh Campus', 1],
 ['National Taipei University of Technology', 2],
 ['The University of Texas Health Science Center at San Antonio', 1],
 ['Wilfrid Laurier University', 1],
 ['Kyung Hee University', 3],
 ['Taras Shevchenko National University of Kyiv', 1],
 ['University of Illinois at Urbana-Champaign', 2],
 ['University of Rome III', 1],
 ['University of Campinas', 2],
 ['New York University', 3],
 ['University of Strasbourg', 3],
 ['Medical University of Vienna', 3],
 ['Nanjing Medical University', 2],
 ['Kyungpook National University', 3],
 ['Federal University of Minas Gerais', 3],
 ['Prince of Songkla University', 1],
 ['University of Thessaly', 1],
 ['Princeton University', 3],
 ['University of Minnesota, Twin Cities', 2],
 ['University of Tennessee Health Science Center', 1],
 ['Catholic University of Chile', 1],
 ['All India Institute of Medical Sciences, New Delhi', 1],
 ['Louisiana Tech University', 1],
 ['Arizona State University - Tempe', 1],
 ['Binghamton University, State University of New York', 1],
 ['University of Salzburg', 1],
 ['Plymouth University', 2],
 ['Slovak University of Technology in Bratislava', 1],
 ['Rutgers University-New Brunswick', 1],
 ['KU Leuven', 2],
 ['Panjab University', 2],
 ['Kurume University', 1],
 ['China Medical University (PRC)', 1],
 ['National Taiwan Normal University', 2],
 ['Nanjing University', 3],
 ['I-Shou University', 2],
 ['University of Coimbra', 3],
 ['City University London', 2],
 ['Oklahoma State University', 2],
 ['King Fahd University of Petroleum & Minerals', 1],
 ['Pennsylvania State University, University Park', 1],
 ['University of Illinois at Urbana–Champaign', 1],
 ['University of Alicante', 1],
 ['University of Electro-Communications', 1],
 ['University of Iowa', 3],
 ['National University of Córdoba', 2],
 ['Pompeu Fabra University', 3],
 ['University of Sherbrooke', 2],
 ['Warsaw University of Technology', 2],
 ['University of Mons', 1],
 ['Université de Sherbrooke', 1],
 ['University of California, Davis', 3],
 ['University of Sydney', 3],
 ['Humboldt University of Berlin', 2],
 ['Xidian University', 2],
 ['Coventry University', 1],
 ['Johns Hopkins University', 3],
 ['Beijing Jiaotong University', 1],
 ['International School for Advanced Studies', 2],
 ['McGill University', 3],
 ['Saitama Medical University', 1],
 ['Nanjing University of Technology', 1],
 ['Lappeenranta University of Technology', 1],
 ['University of Szeged', 3],
 ['University of Siena', 3],
 ['Kinki University', 1],
 ['University of Delhi', 2],
 ['Karlsruhe Institute of Technology (KIT)', 1],
 ['Free University of Berlin', 2],
 ['London School of Economics', 1],
 ['Rutgers, The State University of New Jersey', 1],
 ['Mayo Medical School', 1],
 ['University of Zagreb', 2],
 ['Auckland University of Technology', 1],
 ['Massachusetts Institute of Technology (MIT)', 1],
 ['University of Seoul', 2],
 ['University of Texas at Dallas', 2],
 ['Simon Fraser University', 3],
 ['Johannes Gutenberg University of Mainz', 2],
 ['Aarhus University', 3],
 ['Tokyo Institute of Technology', 3],
 ['University of South Alabama', 1],
 ['Purdue University', 1],
 ['Williams College', 1],
 ['Banaras Hindu University', 1],
 ['Saarland University', 2],
 ['American University of Sharjah', 1],
 ['Nanjing University of Science and Technology', 1],
 ['University of Debrecen', 2],
 ['Instituto Superior Técnico Lisboa', 1],
 ['Moscow State University', 1],
 ['Curtin University of Technology', 1],
 ['University of Liege', 1],
 ["St George's, University of London", 1],
 ['University of Latvia', 1],
 ['Grenoble Institute of Technology', 1],
 ['Brigham Young University', 2],
 ['University of Wisconsin', 1],
 ['University of California, Los Angeles', 3],
 ['Virginia Commonwealth University', 2],
 ['Saint Louis University', 3],
 ['University of South Dakota', 1],
 ['University of Bari', 1],
 ['Istanbul Technical University', 2],
 ['Paris-Sorbonne University – Paris 4', 1],
 ['The Hebrew University of Jerusalem', 1],
 ['University of Gothenburg', 3],
 ['University of Murcia', 2],
 ['MINES ParisTech', 1],
 ['Colorado School of Mines', 2],
 ['University of Salamanca', 2],
 ['Tallinn University of Technology', 1],
 ['University of Udine', 1],
 ['Victor Segalen Bordeaux 2 University', 1],
 ['University of Naples Federico II', 3],
 ['University of Alabama in Huntsville', 1],
 ['University of Hyderabad', 1],
 ['Ohio University', 3],
 ['Mahidol University', 2],
 ['Inha University', 2],
 ['University of Lisbon', 3],
 ['Chongqing University', 2],
 ['Maastricht University', 3],
 ['Baylor University', 1],
 ['Medical University of Graz', 2],
 ['Michigan State University', 3],
 ['University of Ulm', 2],
 ['Georgetown University', 3],
 ['Montana State University', 1],
 ['Universiti Teknologi MARA', 1],
 ['University of Osnabrück', 1],
 ['University of Quebec', 1],
 ['University of Milan-Bicocca', 1],
 ['University College Dublin', 3],
 ['LMU Munich', 1],
 ['Mississippi State University', 2],
 ['University of Massachusetts Medical School - Worcester', 1],
 ['Claude Bernard University Lyon 1', 3],
 ['Sun Yat-sen University', 3],
 ['Pontifical Catholic University of Valparaíso', 1],
 ['University of Bochum', 1],
 ['University of Pardubice', 1],
 ['Tokyo Metropolitan University', 3],
 ['University of Toledo', 2],
 ['University of Newcastle', 3],
 ['University of Macau', 1],
 ['University of Exeter', 3],
 ['Osaka Prefecture University', 3],
 ['Federal University of Rio de Janeiro', 3],
 ['Texas A&M University, College Station', 1],
 ['University of Jyvaskyla', 1],
 ['University of Leeds', 3],
 ['Hunan University', 2],
 ['East Carolina University', 1],
 ['Weizmann Institute of Science', 2],
 ['São Paulo State University (UNESP)', 1],
 ['Tokai University', 2],
 ['University of Twente', 3],
 ['University of Pécs', 2],
 ['University of Hanover', 1],
 ['Birla Institute of Technology and Science, Pilani', 1],
 ['Gdańsk University of Technology', 1],
 ['Georgia Institute of Technology', 3],
 ['University of Rennes 1', 3],
 ['University of Duisburg-Essen', 3],
 ['University of Tsukuba', 3],
 ['Aligarh Muslim University', 1],
 ['AGH University of Science and Technology', 2],
 ['University of South Africa', 1],
 ['The University of Melbourne', 1],
 ['University of Frankfurt', 1],
 ['Chiba University', 3],
 ['Hong Kong Polytechnic University', 2],
 ['Chungbuk National University', 1],
 ['University of Western Australia', 2],
 ['University of Navarra', 2],
 ['New York Medical College', 1],
 ['University of Huddersfield', 1],
 ['Federal University of Rio Grande do Sul', 3],
 ['University of Alabama - Tuscaloosa', 1],
 ['University of Southern Queensland', 1],
 ['Rush University', 3],
 ['Peter the Great St Petersburg Polytechnic University', 1],
 ['University of Michigan', 1],
 ['Renmin University of China', 2],
 ['University of Bordeaux 1', 1],
 ['University of Provence (Aix-Marseille 1)', 1],
 ['Guangxi University', 1],
 ['Technion – Israel Institute of Technology', 1],
 ['University of Lethbridge', 1],
 ['University of Manchester', 2],
 ['The University of Alabama at Birmingham', 1],
 ['University at Buffalo, the State University of New York', 1],
 ['Edith Cowan University', 1],
 ['National University of Ireland, Galway', 2],
 ['Paul Sabatier University - Toulouse III', 1],
 ['Pierre and Marie  Curie University - Paris 6', 1],
 ['University of Bari Aldo Moro', 2],
 ['Jinan University', 1],
 ['University of Tübingen', 2],
 ['Verona University', 1],
 ['Jaume I University', 1],
 ['The University of Connecticut Health Center', 1],
 ['University of New Hampshire - Durham', 1],
 ['University of Texas MD Anderson Cancer Center', 1],
 ['The University of Western Australia', 1],
 ['North Carolina State University - Raleigh', 1],
 ['Catholic University of Korea', 2],
 ['Tampere University of Technology', 2],
 ['University of Düsseldorf', 1],
 ['Florida State University', 3],
 ['Colorado State University - Fort Collins', 1],
 ['Huazhong Agricultural University', 1],
 ['Shenzhen University', 1],
 ['University of Maribor', 2],
 ['Washington State University, Pullman', 1],
 ['University of Silesia in Katowice', 1],
 ['University of Nevada, Reno', 1],
 ['Ecole Normale Superieure - Lyon', 1],
 ['Pontifical Catholic University of Paraná', 1],
 ['Shandong University', 2],
 ['University of Alabama at Birmingham', 2],
 ['China Medical University, Taiwan', 1],
 ['McMaster University', 3],
 ['University of Pittsburgh, Pittsburgh Campus', 1],
 ['University of Pavia', 3],
 ['École centrale de Lyon', 1],
 ['Bauman Moscow State Technical University', 1],
 ['University of Cambridge', 3],
 ['Putra University, Malaysia', 1],
 ['Dublin City University', 2],
 ['Technical University of Madrid', 2],
 ['UiT The Arctic University of Norway', 1],
 ['University of California, Irvine', 3],
 ['University of California, Merced', 1],
 ['Complutense University of Madrid', 3],
 ['Polytechnic University of Milan', 2],
 ['University of Toronto', 3],
 ['Northern Illinois University', 1],
 ['Tel Aviv University', 3],
 ['Jordan University of Science and Technology', 1],
 ['University of Santiago Compostela', 1],
 ['Aristotle University of Thessaloniki', 3],
 ['University of Rhode Island', 2],
 ['Nottingham Trent University', 1],
 ['University of Greifswald', 3],
 ['Belarusian State University', 1],
 ['University of Kiel', 3],
 ['Karlsruhe Institute of Technology', 2],
 ['King’s College London', 1],
 ['Universiti Teknologi Malaysia', 1],
 ['University of Freiburg', 2],
 ['Kyoto Institute of Technology', 1],
 ['National University of Singapore', 3],
 ['Nihon University', 2],
 ['University of Victoria', 3],
 ["King's College London", 2],
 ['University of California, San Diego', 3],
 ['Swansea University', 2],
 ['Kingston University', 1],
 ['University of Koeln', 1],
 ['University of Eastern Finland', 3],
 ['Chulalongkorn University', 2],
 ['Kansas State University', 3],
 ['National Research Nuclear University MePhI', 1],
 ['Trinity College Dublin', 2],
 ['Henan Normal University', 1],
 ['Wake Forest University', 3],
 ['The University of Hong Kong', 1],
 ['Ecole Polytechnique', 1],
 ['Aalborg University', 3],
 ['Dresden University of Technology', 2],
 ['Monash University', 3],
 ['Mines ParisTech', 2],
 ['Osaka University', 3],
 ['University of Maine, Orono', 1],
 ['State University of New York Health Science Center at Brooklyn', 1],
 ['Florida Institute of Technology', 2],
 ['University of Savoy', 1],
 ['Indiana University-Purdue University at Indianapolis', 1],
 ['National Sun Yat-Sen University', 2],
 ['Sungkyunkwan University', 2],
 ['Shahid Beheshti University', 1],
 ['University of Illinois at Chicago', 3],
 ['University of La Laguna', 2],
 ['University of Bath', 3],
 ['Shanghai Jiao Tong University', 3],
 ['University of Montana - Missoula', 2],
 ['Inje University', 1],
 ['Brunel University London', 1],
 ['University of San Francisco', 1],
 ['University of Louisville', 2],
 ['University of Massachusetts Amherst', 2],
 ['Budapest University of Technology and Economics', 2],
 ['Lille 2 University – Health and Law', 1],
 ['Middle East Technical University', 2],
 ['Fu Jen Catholic University', 2],
 ['University of Potsdam', 1],
 ['University of Hannover', 1],
 ['University of Genova', 1],
 ['University of Calgary', 2],
 ['Federal University of São Paulo', 1],
 ['Second University of Naples', 1],
 ['King Saud University', 3],
 ['Korea Advanced Institute of Science and Technology', 1],
 ['Brown University', 3],
 ['University of Limerick', 2],
 ['Kyoto University', 3],
 ['University of Washington', 2],
 ['Université catholique de Louvain', 1],
 ['University Paris Diderot - Paris 7', 1],
 ['University of Nantes', 2],
 ['University of Buenos Aires', 2],
 ['University at Buffalo, The State University of New York', 1],
 ['University of Basilicata', 1],
 ['University of Duesseldorf', 1],
 ['Universidade Nova de Lisboa', 1],
 ['University of Memphis', 1],
 ['Universiti Kebangsaan Malaysia', 1],
 ['University of Auvergne', 1],
 ['University of Goettingen', 1],
 ['Oxford Brookes University', 1],
 ['Hallym University', 1],
 ['The Australian National University', 1],
 ['Pusan National University', 3],
 ['Technical University of Dortmund', 2],
 ['Yeungnam University', 2],
 ['Texas A & M University', 1],
 ['Open University (UK)', 1],
 ['Arizona State University', 3],
 ['University of Montpellier 1', 1],
 ['Dalian University of Technology', 3],
 ['University of São Paulo', 2],
 ['Konkuk University', 2],
 ['University of Bern', 3],
 ['University of Bordeaux I', 1],
 ['Central Queensland University', 1],
 ['The University of Akron', 1],
 ['Zhejiang Normal University', 1],
 ['University of Caen Lower Normandy', 1],
 ['Yokohama National University', 2],
 ['Khon Kaen University', 1],
 ['University of Montana', 1],
 ['Vrije Universiteit Brussel', 2],
 ['The University of Reading', 1],
 ['The University of Edinburgh', 1],
 ['Jichi Medical University', 1],
 ['Vienna University of Technology', 3],
 ['Leibniz University of Hanover', 1],
 ['Polytechnic University of Turin', 3],
 ['Shantou University', 1],
 ['Showa University', 2],
 ['University of Essex', 3],
 ['University of Mainz', 1],
 ['University of New Mexico', 2],
 ['University of Jena', 2],
 ['Dublin Institute of Technology', 1],
 ['University of Sao Paulo', 1],
 ['Jiangnan University', 1],
 ['Federal University of Sao Paulo', 1],
 ['Vita-Salute San Raffaele University', 1],
 ['China University of Geosciences (Wuhan)', 2],
 ['Brandeis University', 3],
 ['Darmstadt University of Technology', 1],
 ['Federal University of Ceará', 1],
 ['University of Nebraska-Lincoln', 1],
 ['San Francisco State University', 1],
 ['University of Córdoba (Spain)', 1],
 ['Kangwon National University', 1],
 ['Jean Monnet University', 1],
 ['University of Yamanashi', 1],
 ['University of North Carolina at Chapel Hill', 3],
 ['Beijing University of Aeronautics and Astronautics', 1],
 ['ESPCI ParisTech', 1],
 ['Louisiana State University - Baton Rouge', 2],
 ['Pierre-and-Marie-Curie University', 1],
 ['University of Erlangen-Nuremberg', 3],
 ['University of Warsaw', 3],
 ['University of Mississippi Medical Center', 1],
 ['Lehigh University', 3],
 ['University of Bologna', 3],
 ['Tokyo Medical and Dental University', 2],
 ['Korea University', 3],
 ['Deakin University', 3],
 ['Western Michigan University', 1],
 ['Dankook University', 1],
 ['University of Glasgow', 2],
 ['University of Florida', 3],
 ['York University', 3],
 ['Shahid Beheshti University of Medical Sciences', 1],
 ['University of Padua', 3],
 ['Versailles Saint-Quentin-en-Yvelines University', 1],
 ['University of Alaska Fairbanks', 2],
 ['National University of La Plata', 1],
 ['Drexel University', 3],
 ['University of Verona', 1],
 ['Carlos III University of Madrid', 2],
 ['Icahn School of Medicine at Mount Sinai', 2],
 ['Chinese University of Hong Kong', 2],
 ['Montana State University - Bozeman', 2],
 ['University of Cergy-Pontoise', 1],
 ['Umeå University', 2],
 ['University of Westminster', 1],
 ['University of Jyväskylä', 2],
 ['Peking University', 3],
 ['Sogang University', 2],
 ['Makerere University', 2],
 ['Fourth Military Medical University', 1],
 ['University of Michigan-Ann Arbor', 1],
 ['University of Paris Dauphine (Paris 9)', 1],
 ['Florida International University', 3],
 ['Paris Diderot University - Paris 7', 1],
 ['University of Seville', 3],
 ['Charles Darwin University', 2],
 ['Memorial University of Newfoundland', 3],
 ['Bournemouth University', 1],
 ['Autonomous University of Barcelona', 3],
 ['Louisiana State University', 1],
 ['Tokyo Medical and Dental University (TMDU)', 1],
 ['University of Melbourne', 3],
 ['Pennsylvania State University', 1],
 ['China Agricultural University', 3],
 ['University of Valencia', 3],
 ['Yeshiva University', 3],
 ['Syracuse University', 3],
 ['Kitasato University', 1],
 ['Novosibirsk State University', 2],
 ['Chungnam National University', 3],
 ['University of Massachusetts', 1],
 ['University of Notre Dame', 3],
 ['University of Urbino Carlo Bo', 1],
 ['Xi’an Jiaotong University', 1],
 ['Laval University', 3],
 ['Ain Shams University', 1],
 ['Tufts University', 3],
 ['University of Waterloo', 3],
 ['University of Salford', 1],
 ['University of Colorado Boulder', 2],
 ['University of Trieste', 3],
 ['University of Texas at El Paso', 2],
 ['University of Puerto Rico at Mayagüez', 1],
 ['University of Colorado at Denver', 1],
 ['University of Maryland, College Park', 3],
 ['Autonomous University of Madrid', 3],
 ['South China Agricultural University', 1],
 ['Loyola University Chicago', 2],
 ['California Institute of Technology', 3],
 ['Louisiana State University Health Sciences Center', 1],
 ['Catholic University of the Sacred Heart', 3],

11) In the times ranking, compute the number of times each university appears

In [44]:
ris_11 = times.groupby('university_name').size()
ris_11

university_name
AGH University of Science and Technology    1
Aalborg University                          5
Aalto University                            5
Aarhus University                           6
Aberystwyth University                      5
                                           ..
École Normale Supérieure                    6
École Normale Supérieure de Lyon            6
École Polytechnique                         6
École Polytechnique Fédérale de Lausanne    6
Örebro University                           1
Length: 818, dtype: int64

12) Find the universities that appear at most twice in the times ranking.

In [45]:
ris_11[ris_11 <= 2]

university_name
AGH University of Science and Technology    1
Adam Mickiewicz University                  1
Aix-Marseille University                    1
Ajou University                             1
Alexandru Ioan Cuza University              1
                                           ..
Yokohama City University                    1
Yokohama National University                1
Yuan Ze University                          2
Yıldız Technical University                 1
Örebro University                           1
Length: 408, dtype: int64

13) The universities that, in any year, have the same position in all three rankings (they must have the same position in a year).

In [46]:
times_13 = times[(times['year']>=2012) & (times['year']<= 2015)]
shg_13 = shg[(shg['year']>=2012) & (shg['year']<= 2015)]
cwur_13 = cwur[(cwur['year']>=2012) & (cwur['year']<= 2015)]

In [47]:
time_13 = times_13[['world_rank','university_name','year']]
s_13 = shg_13[['world_rank','university_name','year']]
cwr_13 = cwur_13[['world_rank','university_name','year']]

In [48]:
split_time = time_13["world_rank"].str.split(r"-|=", expand=True)        #pulizia times_dataset
split_time[0].replace("",split_time[1], inplace = True)
split_time[1].fillna(split_time[0],inplace= True)
split_time[2] = pd.to_numeric(split_time[0])
split_time[3] = pd.to_numeric(split_time[1])
time_13['rank_min'] = split_time[2]
time_13['rank_max'] = split_time[3]
time_13.rename(columns={'rank_min': 'R_min_time', 'rank_max': 'R_max_time'}, inplace=True)

In [49]:
split_shg = s_13["world_rank"].str.split(r"-|=", expand=True)            #pulizia shanghai_dataset
split_shg[1].fillna(split_shg[0],inplace= True)
split_shg[2] = pd.to_numeric(split_shg[0])
split_shg[3] = pd.to_numeric(split_shg[1])
s_13['rank_min'] = split_shg[2]
s_13['rank_max'] = split_shg[3]
s_13.rename(columns={'rank_min': 'R_min_shg', 'rank_max': 'R_max_shg'}, inplace=True)

In [50]:
shg_2012 = s_13[s_13['year']==2012]
s_2012 = shg_2012[['university_name','year','R_min_shg','R_max_shg']]
time_2012 = time_13[time_13['year']==2012]
t_2012 = time_2012[['university_name','year','R_min_time','R_max_time']]
c_2012 = cwr_13[cwr_13['year']==2012]
#merge
unito_2012 = c_2012.merge(t_2012.merge(s_2012, on='university_name'), on='university_name')

In [52]:
#risultato anno 2012
ris_2012 = unito_2012[(unito_2012['world_rank'] >= unito_2012['R_min_time']) & (unito_2012['world_rank'] >= unito_2012['R_min_shg'])
& (unito_2012['world_rank'] <=  unito_2012['R_max_time']) & (unito_2012['world_rank'] <=  unito_2012['R_max_shg']) ]
ris_2012

Empty DataFrame
Columns: [world_rank, university_name, year, year_x, R_min_time, R_max_time, year_y, R_min_shg, R_max_shg]
Index: []

In [53]:
shg_2013 = s_13[s_13['year']==2013]
s_2013 = shg_2013[['university_name','year','R_min_shg','R_max_shg']]
time_2013 = time_13[time_13['year']==2013]
t_2013 = time_2013[['university_name','year','R_min_time','R_max_time']]
c_2013 = cwr_13[cwr_13['year']==2013]
#merge
unito_2013 = c_2013.merge(t_2013.merge(s_2013, on='university_name'), on='university_name')

In [54]:
#risultato anno 2013
ris_2013 = unito_2013[(unito_2013['world_rank'] >= unito_2013['R_min_time']) & (unito_2013['world_rank'] >= unito_2013['R_min_shg'])
& (unito_2013['world_rank'] <=  unito_2013['R_max_time']) & (unito_2013['world_rank'] <=  unito_2013['R_max_shg']) ]
ris_2013

,world_rank,university_name,year,year_x,R_min_time,R_max_time,year_y,R_min_shg,R_max_shg
1,2,Stanford University,2013,2013,2,2,2013,2,2

In [55]:
shg_2014 = s_13[s_13['year']==2014]
s_2014 = shg_2014[['university_name','year','R_min_shg','R_max_shg']]
time_2014 = time_13[time_13['year']==2014]
t_2014 = time_2014[['university_name','year','R_min_time','R_max_time']]
c_2014 = cwr_13[cwr_13['year']==2014]
#merge
unito_2014 = c_2014.merge(t_2014.merge(s_2014, on='university_name'), on='university_name')

In [56]:
#risultato anno 2014
ris_2014 = unito_2014[(unito_2014['world_rank'] >= unito_2014['R_min_time']) & (unito_2014['world_rank'] >= unito_2014['R_min_shg'])
& (unito_2014['world_rank'] <=  unito_2014['R_max_time']) & (unito_2014['world_rank'] <=  unito_2014['R_max_shg']) ]
ris_2014

,world_rank,university_name,year,year_x,R_min_time,R_max_time,year_y,R_min_shg,R_max_shg
88,146,University of Southampton,2014,2014,146,146,2014,101,150
166,320,University of Vermont,2014,2014,301,350,2014,301,400
186,390,Temple University,2014,2014,351,400,2014,301,400

In [57]:
shg_2015 = s_13[s_13['year']==2015]
s_2015 = shg_2015[['university_name','year','R_min_shg','R_max_shg']]
time_2015 = time_13[time_13['year']==2015]
t_2015 = time_2015[['university_name','year','R_min_time','R_max_time']]
c_2015 = cwr_13[cwr_13['year']==2015]
#merge
unito_2015 = c_2015.merge(t_2015.merge(s_2015, on='university_name'), on='university_name')

In [58]:
#risultato anno 2015
ris_2015 = unito_2015[(unito_2015['world_rank'] >= unito_2015['R_min_time']) & (unito_2015['world_rank'] >= unito_2015['R_min_shg'])
& (unito_2015['world_rank'] <=  unito_2015['R_max_time']) & (unito_2015['world_rank'] <=  unito_2015['R_max_shg']) ]
ris_2015

,world_rank,university_name,year,year_x,R_min_time,R_max_time,year_y,R_min_shg,R_max_shg
125,212,Newcastle University,2015,2015,201,225,2015,201,300
134,229,Laval University,2015,2015,226,250,2015,201,300
140,241,Autonomous University of Barcelona,2015,2015,226,250,2015,201,300
152,265,Medical University of Vienna,2015,2015,251,275,2015,201,300
153,269,University of Waterloo,2015,2015,251,275,2015,201,300
193,383,University of Turku,2015,2015,351,400,2015,301,400